* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: resource-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}
#loading img {
  width: 80px;
}
/* Header components style  */
header {
  width: 100%;
  height: 60px;
  z-index: 9999;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: 0.5s;
  border: 0px solid red;
  background-color: white;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(145, 145, 145, 0.43);
  -moz-box-shadow: 0px 3px 5px 0px rgba(145, 145, 145, 0.43);
  box-shadow: 0px 3px 5px 0px rgba(145, 145, 145, 0.43);
}

header h1 {
  margin-left: 10px;
}

/* SearchBar component style */
header .search-bar {
  border: 3px solid black;
  display: flex;
  align-items: center;
  overflow: hidden;
}

header .search-bar #search-icon {
  height: 23px;
  margin: 0px 5px;
  border: 0px solid red;
}

header .search-bar form {
  height: 30px;
  /* line-height: 50px; */
  /* text-align: center; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid red;
}

header .search-bar form input {
  width: 200px;
  height: 30px;
  font-size: 18px;
  border: 0px solid grey;
}

header .search-bar form input:focus {
  outline-width: 0px;
}

#tech-kind {
  height: 30px;
  display: flex;
  align-items: flex-end;
  border: 0px solid red;
}

#tech-kind ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  border: 0px solid red;
}

#tech-kind ul li {
  margin: 0 10px;
}

#tech-kind ul li button {
  font-size: 18px;
  position: relative;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: white;
}

#tech-kind ul li button::before {
  content: "";
  width: 80%;
  height: 2px;
  position: absolute;
  left: 10%;
  bottom: -3px;
  transform: scaleX(0);
  transition: 0.5s;
  background-color: black;
}

#tech-kind ul li button:hover::before {
  transform: scaleX(1);
}

/* ----- small screen ----- */
header #smallest-screen-menu {
  width: 30px;
  right: 10px;
  z-index: 9999;
  transition: 1s;
  position: absolute;
  cursor: pointer;
  visibility: hidden;
}

header #smallest-screen {
  width: 100%;
  position: absolute;
  /* right: 0; */
  /* top: 60px; */
  display: flex;
  justify-content: flex-end;
  text-align: center;
  border: 0px solid red;
  /* overflow: hidden; */
}

/* small screen menu style */
header #smallest-screen #tech-kind {
  width: 100%;
  height: 170px;
  /* position: absolute; */
  /* top: 210px; */
  /* position: relative; */
  /* top: -20px; */
  overflow: hidden;
  border: 0px solid red;
}

header #smallest-screen #tech-kind ul {
  width: 100%;
  padding: 3px;
  transition: 0.5s;
  position: relative;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(145, 145, 145, 0.43);

  /* top: -200px; */
}

header #smallest-screen #tech-kind ul li {
  margin: 3px;
}

/* Resource contents style */
main {
  position: relative;
  top: 0px;
}

main .resource-content {
  padding-bottom: 10px;
  border: 0px solid green;
}
main .resource-content .no-results {
  font-size: 23px;
  text-align: center;
  margin-top: 200px;
}
main .resource-content .content-kind {
  padding: 10px;
  position: relative;
  border: 0px solid red;
}

main .resource-content .content-kind .kind-title {
  width: 60px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  border: 0px solid red;
  background-color: black;
}

main .resource-content .content-kind .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* align-items: center; */
  border: 0px solid green;
  /* transform: scale(1); */
}
main .resource-content .content-kind .content .vba {
  width: 95%;
  margin: auto;
  display: flex;
  border: 0px solid red;
  justify-self: center;
}
main .resource-content .content-kind .content .resource-link {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  border: 0px solid green;
}

/* main .resource-content .content-kind .content .vba:hover {
  transform: scale(1.03);
} */
/* 
main .resource-content .content-kind .content .vba .resource-link {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 3px solid red;
} */
main .resource-content .content-kind .content .resource-link figure {
  width: 100%;
  height: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}

main .resource-content .content-kind .content .resource-link img {
  width: 90%;
  border: 1px solid grey;
}

main .resource-content .content-kind .content .resource-link .resource-name {
  width: 90%;
  margin-bottom: 15px;
  min-height: 40px;
  max-height: 41px;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* line-height: 40px; */
  color: black;
  border: 0px solid red;
}

/* main .resource-content .content-kind .content .article-kind .resource-link  {
  justify-self: center;
  width: 300px;
  height: 280px;
  padding: 3px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
  transition: 1s;
  border: 0px solid black;
} */



main .resource-content .content-kind .content .article-kind {
  padding: 5px 0px;
  margin: 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px #D1D5D8;
  border: 0px solid green;
}

main .resource-content .content-kind .content .article-kind .resource-link figure {
  width: 90%;
  max-height: 150px;
  margin: 5px;
  overflow: hidden;
  border: 0px solid black;
}

main .resource-content .content-kind .content .article-kind .resource-link figure img {
  width: 100%;
  border: 1px solid #D1D5D8;
}

main .resource-content .content-kind .content .article-kind .resource-link .resource-name {
  width: 90%;
  border: 0px solid red;
  margin: 5px;
}
main .resource-content .content-kind .content .article-kind .from {
  /* font-weight: bold; */
  width: 90%;
  font-size: 0.8em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* line-height: 40px; */
  color: grey;
  border: 0px solid red;
}

main .resource-content .content-kind .content-book {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row dense;
}

main .resource-content .content-kind .content .book-kind {
  /* background-color: none; */
  width: 300px;
  height: 200px;
  margin: 3px;
  /* background: none; */
  border: 3px solid black;
}

main .resource-content .content-kind .content .book-kind figure {
  width: 80%;
  /* max-height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid red;
}

main .resource-content .content-kind .content .book-kind figure img {
  width: 70%;
  box-shadow: 0 1px 3px 0px grey;
}

main .resource-content .content-kind .content .book-kind .book-info {
  border: 0px solid red;
  width: 50%;
  height: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;

}
.book-info .book-name {
  width: 90%;
  font-size: 18px;
  font-weight: bold;
  border: 0px solid red;
}
.book-info .book-date, .book-edition {
  font-size: 12px;
  color: grey;
  width: 90%;
  border: 0px solid purple;
}
.book-info a {
  color: black;
  text-decoration: none;
}
.book-download {
  width: 100px;
  height: 23px;
  background: none;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
}
.book-download:hover {
  color: white;
  background-color: black;
}
/* When screen size smaller than 999px, change style */
/* ----change searchbar style---- */
main .search-bar {
  margin: auto 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  border: 3px solid black;
}

main .search-bar #search-icon {
  height: 23px;
  margin: 0px 5px;
  border: 0px solid red;
}

main .search-bar form {
  width: 100%;
  height: 30px;
  /* line-height: 50px; */
  /* text-align: center; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid red;
}

main .search-bar form input {
  width: 100%;
  height: 30px;
  font-size: 18px;
  border: 0px solid grey;
}

main .search-bar form input:focus {
  outline-width: 0px;
}

/* ----change tech options style---- */
main #tech-kind {
  margin: auto 10px;
  justify-content: center;
  visibility: hidden;
  border: 0px solid red;
}

main #content-options {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 110px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  visibility: hidden;
}

main #content-options li button {
  width: 80px;
  height: 25px;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  background-color: white;
  border: 0px solid grey;
  border-radius: 50px;
}

/* ----- Media query ----- */
@media (max-width: 599px) {

  header h1 {
    margin: auto;
  }

  header > #tech-kind {
    position: absolute;
    visibility: hidden;
  }

  header .search-bar {
    position: absolute;
    visibility: hidden;
  }

  header #smallest-screen-menu {
    visibility: visible;
  }

  main {
    top: 40px;
    border: 0px solid red;
  }
  main #tech-kind {
    visibility: visible;
    width: 0;
    position: relative;
    top: -999px;
  }
  main #content-options {
    visibility: visible;
  }

  main .resource-content .content-kind {
    top: 80px;
  }

  main .resource-content .kind-title {
    position: absolute;
    visibility: hidden;
  }

  main .resource-content .content-kind .content {
    position: relative;
    grid-template-columns: 1fr;
  }
  main .resource-content .content-kind .content .book-kind {
    border: none;
  }
  main .resource-content .content-kind .content .book-kind figure {
    border: 0px solid red;
    width: 50%;
  }
  main .resource-content .content-kind .content .book-kind figure img{
    width: 60%;
  }
  main .resource-content .content-kind .content .video-kind .resource-link {
    width: 350px;
    height: 250px;
  }

  main .resource-content .content-kind .content .article-kind {
    width: 300px;
    height: 280px;
  }

  main .resource-content .content-kind .content .resource-link .resource-name {
    min-height: 0px;
  }

  main .resource-content .content-kind .content .no-related {
    visibility: hidden;
  }

  main .search-bar {
    position: relative;
    top: 40px;
    visibility: visible;
  }
}

@media (min-width: 600px) and (max-width: 679px) {

  header h1 {
    margin: auto;
  }

  header > #tech-kind {
    position: absolute;
    visibility: hidden;
  }

  header .search-bar {
    position: absolute;
    visibility: hidden;
  }

  header #smallest-screen-menu {
    visibility: visible;
  }

  main {
    top: 40px;
    border: 0px solid red;
  }

  main .resource-content .content-kind {
    top: 20px;
  }

  main .resource-content .content-kind .content {
    grid-template-columns: repeat(2, 1fr);
  }

  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(2, 1fr);
  }

  main .resource-content .content-kind .content .video-kind .resource-link {
    width: 300px;
    height: 220px;
  }

  main .resource-content .content-kind .content .article-kind {
    width: 300px;
    height: 280px;
  }

  main .resource-content .content-kind .content .book-kind {
    margin-bottom: 15px;
  }

  main .search-bar {
    position: relative;
    top: 40px;
    visibility: visible;
  }

}

@media (min-width: 680px) and (max-width: 799px) {

  main .search-bar {
    visibility: visible;
  }

  header h1 {
    margin: auto;
  }

  header > #tech-kind {
    position: absolute;
    visibility: hidden;
  }

  header .search-bar {
    position: absolute;
    visibility: hidden;
  }

  main #tech-kind {
    visibility: visible;
  }
  
  /* main .resource-content .content-kind .content .resource-link .resource-name {
    min-height: 0px;
  }

  main .resource-content .content-kind .content {
    grid-template-columns: repeat(2, 1fr);
  }

  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(3, 1fr);
  } */

  main {
    top: 80px;
    border: 0px solid red;
  }

  /* main .resource-content .content-kind {
    top: 0px;
  } */

  main .resource-content .content-kind .content {
    grid-template-columns: repeat(2, 1fr);
  }

  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(2, 1fr);
  }

  main .resource-content .content-kind .content .video-kind .resource-link {
    width: 300px;
    height: 220px;
  }

  main .resource-content .content-kind .content .article-kind {
    width: 300px;
    height: 280px;
  }

  main .resource-content .content-kind .content .book-kind figure img{
    margin-bottom: 15px;
  }

}

@media (min-width: 800px) and (max-width: 999px) {

  header {
    justify-content: space-between;
  }

  header .search-bar {
    position: absolute;
    visibility: hidden;
  }

  main {
    top: 40px;
  }

  main .search-bar {
    width: 50%;
    margin: auto;
    position: relative;
    top: 40px;
    visibility: visible;
  }

  main .resource-content .content-kind .content {
    grid-template-columns: repeat(3, 1fr);
  }
  /* main .resource-content .content-kind .content .resource-link {
    width: 250px;
  } */

  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(3, 1fr);
  }

}

/* @media (min-width: 1000px) and (max-width: 1169px) {

  main .resource-content .content-kind .content {
    grid-template-columns: repeat(3, 1fr);
  }

  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(5, 1fr);
  }

} */

@media (min-width: 1550px) and (max-width: 1699px) {

  main .resource-content .content-kind .content {
    grid-template-columns: repeat(5, 1fr);
  }

}

@media (min-width: 1700px) {
  
  main .resource-content .content-kind .content {
    grid-template-columns: repeat(6, 1fr);
  }

}
