* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: resource-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Header component style  */
header {
  width: 100%;
  height: 60px;
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(145, 145, 145, 0.43);
  -moz-box-shadow: 0px 3px 5px 0px rgba(145, 145, 145, 0.43);
  box-shadow: 0px 3px 5px 0px rgba(145, 145, 145, 0.43);
}
header h1 {
  margin-left: 10px;
}
/* SearchBar component style */
header .search-bar {
  border: 3px solid black;
  display: flex;
  align-items: center;
  overflow: hidden;
}

header .search-bar #search-icon {
  border: 0px solid red;
  height: 23px;
  margin: 0px 5px;
}

header .search-bar form {
  border: 0px solid red;
  height: 30px;
  /* line-height: 50px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .search-bar form input {
  font-size: 18px;
  width: 200px;
  height: 30px;
  border: 0px solid grey;
}
header .search-bar form input:focus {
  outline-width: 0px;
}
#tech-kind {
  height: 30px;
  border: 0px solid red;
  display: flex;
  align-items: flex-end;
}
#tech-kind ul {
  border: 0px solid red;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
#tech-kind ul li {
  margin: 0 10px;
}
#tech-kind ul li button {
  font-size: 18px;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
  background-color: white;
}
#tech-kind ul li button::before {
  content: "";
  width: 80%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -3px;
  left: 10%;
  transform: scaleX(0);
  transition: 0.5s;
}
#tech-kind ul li button:hover::before {
  transform: scaleX(1);
}
header #smallest-screen-menu {
  position: absolute;
  width: 30px;
  right: 10px;
  visibility: hidden;
  transition: 1s;
  cursor: pointer;
}
/* -----smallest screen tech options style----- */

header #smallest-screen {
  border: 0px solid red;
  position: absolute;
  width: 100%;
  /* height: 300px; */
  /* right: 0; */
  top: 190px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
header #smallest-screen #tech-kind {
  width: 100%;
  /* position: absolute; */
  /* top: 210px; */ 
}
header #smallest-screen #tech-kind ul {
  padding: 3px;
  width: 100%;
  background-color: white;
  flex-direction: column;
  -webkit-box-shadow: 0px 8px 100px 0px rgba(145,145,145,0.43);
  -moz-box-shadow: 0px 8px 100px 0px rgba(145,145,145,0.43);
  box-shadow: 0px 8px 100px 0px rgba(145,145,145,0.43);
}
header #smallest-screen #tech-kind ul li {
  margin: 3px;
}

/* resource Kinds component style */
main {
  border: 0px solid red;
  position: relative;
  top: 0px;
  overflow: hidden;
}

main .resource-content {
  border: 0px solid green;
  padding-bottom: 10px;
}
main .resource-content .content-kind {
  padding: 10px;
  position: relative;
  border: 0px solid red;
}
main .resource-content .content-kind .kind-title {
  width: 60px;
  color: white;
  text-align: center;
  background-color: black;
  border: 0px solid red;
  margin-bottom: 10px;
}
main .resource-content .content-kind .content {
  border: 0px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  /* transform: scale(1); */
}

main .resource-content .content-kind .content .vba  {
  /* position: relative; */
  justify-self: center;
  width: 300px;
  height: 230px;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 3px; */
  /* border-radius: 10px; */
  /* -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5); */
  /* transition: 1s; */
  position: relative;
}

/* main .resource-content .content-kind .content .vba:hover {
  transform: scale(1.03);
} */
main .resource-content .content-kind .content .vba .resource-link {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0px solid red;
}
main .resource-content .content-kind .content .vba img {
  width: 90%;
  border: 0px solid green;
}
main .resource-content .content-kind .content .vba .resource-name {
  font-weight: bold;
  color: black;
  width: 90%;
  min-height: 40px;
  max-height: 41px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* line-height: 40px; */
  text-align: left;
  border: 0px solid red;
}
main .resource-content .content-kind .content .article-kind {
  /* justify-self: center; */
  width: 300px;
  height: 280px;
  border: 0px solid black;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
  margin-bottom: 10px;
  /* border-radius: 10px; */
  /* -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5); */
  /* transition: 1s; */
}
main .resource-content .content-kind .content .article-kind figure {
  width: 100%;
  min-height: 188px;
  display: flex;
  justify-content: center;
  align-items:center; 
  border: 0px solid green;
}
main .resource-content .content-kind .content .article-kind .from {
  /* font-weight: bold; */
  font-size: 0.8em;
  color: grey;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* line-height: 40px; */
  text-align: left;
  border: 0px solid red;
}

main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(5, 1fr);
}
main .resource-content .content-kind .content .book-kind {
  /* background-color: none; */
  width: 200px;
  /* background: none; */
  border: 0px solid black;
  margin: 3px;
}
main .resource-content .content-kind .content .book-kind figure {
  width: 100%;
  /* max-height: 200px; */
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .resource-content .content-kind .content .book-kind figure img {
  width: 80%;
  box-shadow: 0 1px 3px 0px grey;
}

/* When screen size smaller than 999px, change style */
/* ----change searchbar style---- */
main .search-bar {
  border: 3px solid black;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: auto 10px;
  visibility: hidden;
}

main .search-bar #search-icon {
  border: 0px solid red;
  height: 23px;
  margin: 0px 5px;
}

main .search-bar form {
  border: 0px solid red;
  width: 100%;
  height: 30px;
  /* line-height: 50px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .search-bar form input {
  font-size: 18px;
  width: 100%;
  height: 30px;
  border: 0px solid grey;
}
main .search-bar form input:focus {
  outline-width: 0px;
}

/* ----change tech options style---- */
main #tech-kind {
  border: 0px solid red;
  margin: auto 10px;
  justify-content: center;
  visibility: hidden;
}
main #content-options {
  width: 80%;
  /* border: 3px solid black; */
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  left: 10%;
  top: 90px;
  position: absolute;
}
main #content-options li button {
font-size: 1em;
border: 0px solid grey;
width: 80px;
height: 25px;
}

@media (max-width: 599px) {
  header h1 {
    margin: auto;
  }
  header > #tech-kind {
    position: absolute;
    visibility: hidden;
  }
  header .search-bar {
    visibility: hidden;
    position: absolute;
  }
  header #smallest-screen-menu {
    visibility: visible;
  }
  main {
    top: 40px;
    border: 0px solid red;
  }
  main .resource-content .content-kind {
    top: 40px;
  }
  main .resource-content .kind-title {
    visibility: hidden;
    position: absolute;
  }
  main .resource-content .content-kind .content {
    grid-template-columns: 1fr; 
  }
  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(2, 1fr);
}
  main .resource-content .content-kind .content .vba {
    width: 350px;
    height: 250px;
  }
  
  main .resource-content .content-kind .content .article-kind {
    width: 350px;
    height: 280px;
  }

  main .resource-content .content-kind .content .book-kind {
    box-sizing: border-box;
    width: 170px;
  }
  
  main .resource-content .content-kind .content .book-kind img {
    width: 100%;
  }

  main .resource-content .content-kind .content .vba .resource-name {
    min-height: 0px;
    max-height: 41px;
  }

  main .search-bar {
    visibility: visible;
    position: relative;
    top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 679px) {
  header h1 {
    margin: auto;
  }
  header > #tech-kind {
    position: absolute;
    visibility: hidden;
  }
  header .search-bar {
    visibility: hidden;
    position: absolute;
  }
  header #smallest-screen-menu {
    visibility: visible;
  }
  main {
    top: 40px;
    border: 0px solid red;
  }
  main .resource-content .content-kind {
    top: 20px;
  }
  main .resource-content .content-kind .content {
    grid-template-columns: 1fr 1fr; 
  }
  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(3, 1fr);
}
  main .resource-content .content-kind .content .vba {
    width: 250px;
    height: 200px;
  }
  main .resource-content .content-kind .content .article-kind {
    width: 300px;
    height: 280px;
  }
  main .resource-content .content-kind .content .book-kind {
    width: 180px;
    /* margin-bottom: 15px; */
  }
  main .search-bar {
    visibility: visible;
    position: relative;
    top: 40px;
  }
}
@media (min-width: 680px) and (max-width: 799px) {
  main {
    top: 80px;
  }
  /* main .resource-content .content-kind .content .vba {
    width: 300px;
    height: 230px;
  } */
  main .search-bar {
    visibility: visible;
  }
  header h1 {
    margin: auto;
  }
  header > #tech-kind {
    position: absolute;
    visibility: hidden;
  }
  header .search-bar {
    visibility: hidden;
    position: absolute;
  }
  main #tech-kind {
    visibility: visible;
  }
  main .resource-content .content-kind .content {
    grid-template-columns: 1fr 1fr;
  }
  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(3, 1fr);
}
}
@media (min-width: 800px) and (max-width: 999px) {
  header {
    justify-content: space-between;
  }
  header .search-bar {
    position: absolute;
    visibility: hidden;
  }
  main {
    top: 40px;
  }
  main .search-bar {
    width: 50%;
    position: relative;
    top: 40px;
    margin: auto;
    visibility: visible;
  }
  /* main .resource-content .content-kind .content .vba {
    width: 350px;
    height: 300px;
  } */

  main .resource-content .content-kind .content {
    grid-template-columns: 1fr 1fr;
  }
  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(4, 1fr);
}
}
/* @media (max-width: 999px) {
  main .resource-content .content-kind .content .book-kind {
    width: 350px;
    height: 300px;
  }
  
} */
@media (min-width: 1000px) and (max-width: 1169px) {
  main .resource-content .content-kind .content {
    grid-template-columns: repeat(3, 1fr);
  }
  main .resource-content .content-kind .content-book {
    grid-template-columns: repeat(5, 1fr);
}
}
@media (min-width: 1550px) and (max-width: 1699px) {
  main .resource-content .content-kind .content {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1700px) {
  main .resource-content .content-kind .content {
    grid-template-columns: repeat(6, 1fr);
  }
}